# database
server/db.sqlite3
.idea
# Byte-compiled / optimized / DLL files
server/__pycache__/
server/*.py[cod]
server/*$py.class

# Distribution / packaging
server/.Python
server/env/
server/dist/
server/*.egg-info/
server/.installed.cfg
server/*.egg

web-app/node_modules/